a {
  color: rgb(98, 216, 112);
  text-decoration: none;
  font-size: 2rem;
  margin: 0.75rem 0;
}

a:hover {
  color: white;
  text-decoration: none;
}

.close {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 5vw 0 0;
}

.logo {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 13px 0 0 5vw;
}

.instagram {
  height: 45px;
}

.menu {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.overlay {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: black;
  color: white;
  height: calc(100vh - 120px);
  left: 0;
  padding: 120px 5vw 0 5vw;
  position: fixed;
  top: 0;
  width: 90vw;
  z-index: 101;
}

.sectionOne {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sectionTwo {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media screen and (min-width: 650px) {
  a {
    font-size: 1.25rem;
  }
}

@media screen and (orientation: landscape) {
  .menu {
    flex-flow: row;
  }
  .sectionOne {
    width: 50%;
    border-right: 1px dashed rgb(98, 216, 112);
  }
  .sectionTwo {
    width: 50%;
  }
  .overlay {
    padding: 95px 5vw 0 5vw;
    height: calc(100vh - 95px);
  }
  a {
    margin: 0.5rem 0;
    font-size: 1.85rem;
  }
}
