hr {
  border-color: rgb(98, 216, 112);
}

p {
  width: 100%;
  text-align: center;
}

.contact {
  text-align: center;
}

.contact > p {
  text-align: center;
}

.content {
  text-align: center;
}

@media screen and (min-width: 650px) {
  hr {
    width: 10%;
  }
}
