.back {
  outline: none;
  background-color: transparent;
  border-style: none;
  color: rgb(98, 216, 112);
  font-size: 1.5rem;
}

.loading {
  color: rgb(98, 216, 112);
  animation: blink 1s linear infinite alternate;
  padding: 1px;
}

@keyframes blink{
  0%{opacity: 0.3;}
  50%{opacity: 0.6;}
  100%{opacity: 1;}
}

.overlay {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.95);
  color: white;
  height: calc(100vh - 4vh);
  left: 0;
  padding: 4vh 5vw 0 5vw;
  position: fixed;
  top: 0;
  width: 90vw;
  z-index: 101;
}

.photo {
  height: auto;
  max-width: 70vw;
}

@media screen and (min-width: 650px) {
  .photo {
    width: auto;
    max-height: 75vh;
  }
}
