button {
  outline: none;
  background-color: transparent;
  border-style: none;
  color: rgb(98, 216, 112);
}

i {
  color: rgb(98, 216, 112);
}

i:hover {
  color: white;
}

hr {
  border-color: rgb(98, 216, 112);
}

h5 {
  display: flex;
  flex-flow: column;
}

p {
  text-align: left;
}

.content {
  text-align: center;
}

.thumb {
  cursor: pointer;
  height: 70px;
  border: 2px solid rgb(98, 216, 112);
  border-radius: 10px;
}

.thumb:hover {
  border-color: white;
}

.projects {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

@media screen and (min-width: 800px) {
  hr {
    width: 10%;
  }
  .thumb {
    height: 150px;
  }
}
